/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif !important;
  background: #fafafa;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
button {
  font-family: "Lato", sans-serif !important;
}

button:focus,
button:focus-visible {
  outline: unset !important;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.section {
  padding: 2rem 0;
}

.MuiTypography-root {
  margin-bottom: 0 !important;
}
